html, body, div, button
{
    margin  : 0;
    padding : 0;
    border  : 0;
}

html, body
{
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    background              : #252e33;
    width                   : 100%;
    height                  : 100%;
    font-family             : 'Source Sans Pro', sans-serif;
    font-weight             : 400;
}

.three
{
    position : relative;
    z-index  : 1;
    width    : 100%;
    height   : 100%;
    cursor   : move;
    overflow : hidden;
}

.button-wrapper
{
    position   : absolute;
    width      : 100%;
    top        : 0;
    background : #1c2327;
    height     : 115px;
}

@media screen and (max-width : 800px)
{
    .button-wrapper
    {
        height : 95px;
    }
}

button
{
  
    width         : 200px;
    height        : 40px;
    font-size     : 18px;
    left          : 50%;
    z-index       : 20px;
    margin        : 30px 0 0 -110px;
    border        : 0;
    background    : #9A47FF;
    color         : #ffffff;
    cursor        : pointer;
    border-radius : 4px;
    outline       : 0;
    box-shadow    : 0 5px #7e3bcf;
}

button:hover
{
    margin-top : 31px;
    background  :  #AC76FF;
}

button:active
{
    margin-top : 33px;
    background  :  #AC76FF;
}

@media screen and (max-width : 800px)
{
    button
    {
        margin        : 25px 0 0 -90px;
        width         : 180px;
        height        : 40px;
        font-size     : 16px;
        border-radius : 3px;
        box-shadow    : 0 3px #7e3bcf;
    }

    button:hover
    {
        margin-top : 26px;
        background  :  #AC76FF;
    }

    button:active
    {
        margin-top : 28px;
        background  :  #AC76FF;
    }
}

.caption
{
    z-index     : 3;
    position    : absolute;
    font-size   : 18px;
    bottom      : 0;
    color       : #808080;
    width       : 100%;
    padding     : 30px 0 30px 0;
    text-align  : center;
    background  : #1c2327;
    line-height : 26px;
}

@media screen and (max-width : 800px)
{
    .caption
    {
        font-size   : 16px;
        line-height : 22px;
        padding     : 25px 0 25px 0;
    }
}

a, a:visited
{
    color           : #AC76FF;
    text-decoration : none;
}

a:hover
{
    text-decoration : underline;
}

strong
{
    font-weight : 600;
}